<nav class="navbar" aria-label="Main navigation">
  <div class="container navbar__inner">
    <a class="navbar__logo" href="/" aria-label="{{ site.name }} home">
      <img class="navbar__mark" src="/assets/img/logos/mark.svg" width="28" height="28" alt="" />
      <span class="navbar__wordmark">{{ site.name }}</span>
    </a>

    <button
      class="navbar__toggle"
      type="button"
      aria-expanded="false"
      aria-controls="navbar-menu"
      aria-label="Open menu"
    >
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
    </button>

    <div class="navbar__links" id="navbar-menu">
      <a href="/product/">Product</a>
      <a href="/docs/">Docs</a>
      <a href="/support.html">Support</a>
      <a href="/roadmap.html">Roadmap</a>
      <a href="/solutions/">Use Cases</a>
      <a href="/design-partners.html">Design Partners</a>
      <a href="/trust.html">Trust</a>
      <a href="/developers/">Developers</a>
      <a class="btn btn-primary btn-sm" href="/request-demo.html">Demo</a>
    </div>
  </div>
</nav>
