<nav class="navbar" aria-label="Main navigation">
  <div class="container navbar__inner">
    <a class="navbar__logo" href="/">{{ site.name }}</a>

    <button
      class="navbar__toggle"
      type="button"
      aria-expanded="false"
      aria-controls="navbar-menu"
      aria-label="Open menu"
    >
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
    </button>

    <div class="navbar__links" id="navbar-menu">
      <a href="/product/">Product</a>
      <a href="/solutions/">Use Cases</a>
      <a href="/design-partners.html">Design Partners</a>
      <a href="/trust.html">Trust</a>
      <a href="/developers/">Developers</a>
      <a class="btn btn-primary btn-sm" href="/request-demo.html">Demo</a>
    </div>
  </div>
</nav>
