<nav class="navbar" aria-label="{{ i18nCommon.nav.ariaLabel }}">
  <div class="container navbar__inner">
    <a class="navbar__logo" href="{{ '/' | locale_path: localePrefix }}" aria-label="{{ i18nCommon.nav.homeAria | i18n_token: '{{siteName}}', site.name }}">
      <img class="navbar__mark" src="/assets/img/logos/mark.svg" width="28" height="28" alt="" />
      <span class="navbar__wordmark">{{ site.name }}</span>
    </a>

    <button
      class="navbar__toggle"
      type="button"
      aria-expanded="false"
      aria-controls="navbar-menu"
      aria-label="{{ i18nCommon.nav.openMenu }}"
      data-i18n-open-menu="{{ i18nCommon.nav.openMenu }}"
      data-i18n-close-menu="{{ i18nCommon.nav.closeMenu }}"
    >
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
    </button>

    <div class="navbar__links" id="navbar-menu">
      <a href="{{ '/product/' | locale_path: localePrefix }}">{{ i18nCommon.nav.product }}</a>
      <a href="{{ '/docs/' | locale_path: localePrefix }}">{{ i18nCommon.nav.docs }}</a>
      <a href="{{ '/support.html' | locale_path: localePrefix }}">{{ i18nCommon.nav.support }}</a>
      <a href="{{ '/roadmap.html' | locale_path: localePrefix }}">{{ i18nCommon.nav.roadmap }}</a>
      <a href="{{ '/solutions/' | locale_path: localePrefix }}">{{ i18nCommon.nav.useCases }}</a>
      <a href="{{ '/design-partners.html' | locale_path: localePrefix }}">{{ i18nCommon.nav.designPartners }}</a>
      <a href="{{ '/trust.html' | locale_path: localePrefix }}">{{ i18nCommon.nav.trust }}</a>
      <a href="{{ '/developers/' | locale_path: localePrefix }}">{{ i18nCommon.nav.developers }}</a>
      <a class="btn btn-primary btn-sm" href="{{ '/request-demo.html' | locale_path: localePrefix }}">{{ i18nCommon.nav.demo }}</a>
      {% include "language-selector.html" %}
    </div>
  </div>
</nav>
